#consignes, #exemplesRSS{
	padding-bottom: 20px;
}

#ok{
	margin-top: 20px;
}

body{
	background-color: #A5D7E8;
	text-align:center;
}

#contenu{
	margin-top: 100px;
	background-color: #FFF;
	display: inline-block;
	width: 60%;
	padding-bottom: 30px;
}

li:hover{
	font-weight : bold;
}

ul{
	list-style : "→  ";
}

#divLecteur{
  color : #FFF;
  position: fixed;
  bottom:10%;
  right: 5%;
	background-color: #888;
	width: 20%;
	min-width: 310px;
	padding-bottom: 15px;

  border-style: solid;
  border-width: 4px 4px 4px 4px;
	border-color: #555;
	border-radius: 5px;
	box-shadow: 6px 6px 10px #000;
}

video{
	max-width: 300px;
}

#urlPod{
  width: 70%;
}
